#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #293264;
}

.intro-container {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 550px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 500px;
  margin: 2rem auto;
}

.intro-title {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  /* margin: 0 */
}
intro-description {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.intro-button {
  font-family: "Inter", sans-serif;
  margin-top: 1.5rem;
  background: #4d5b9e;
  border-radius: 15px;
  width: 193px;
  height: 52px;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.question-container {
  margin: 2rem auto;
  padding: 2rem;
  width: 550px;
  height: 550px;
  background-color: #f5f7fb;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
